{% extends "layout.html" %} {% block main %}
<h1 class="animated-header">What You Have Is What You need! No idea on what to make for lunch? We got you!</h1>
<br />

<body>
	<div class="row">
		<div class="col-md-12">
			<h2>
				<span>It</span>
				<span>is</span>
				<span>up</span>
				<span>to</span>
				<span>you</span>
				<span>to</span>
				<span>provide</span>
				<span>your</span>
				<span>ingredients.</span>
				<span>It</span>
				<span>is</span>
				<span>up</span>
				<span>to</span>
				<span>us</span>
				<span>to</span>
				<span>come</span>
				<span>up</span>
				<span>with</span>
				<span>the</span>
				<span><b style="text-decoration-line: underline">Recipes.</b></span>
			</h2>
		</div>
	</div>
	{% endblock %}
</body>