<html>
  <head>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css' ) }}
    />
  </head>

  <body>
    <a href="/logout">Log out</a>
    <h1>Recipe Generator</h1>
    <button onclick="addIngredient()">Add Ingredient</button>
    <script>
      function addIngredient() {
        var x = document.createElement("INPUT");
        x.setAttribute("type", "text");
        x.setAttribute("value", "Hello World!");
        document.body.appendChild(x);
      }
    </script>
  </body>
</html>
